build/
out/
.cache/

# vcpkg manifest mode local install dir (if not using a shared install)
vcpkg_installed/

# Generated/runtime data
logs/*.log
logs/*.db
*.gguf

# Editor / IDE
.vs/
.vscode/
*.user
CMakeUserPresets.json

# OS
.DS_Store
Thumbs.db
venv/
model_customization/
*.weight
*.bias
onnx__MatMul*
*.onnx
_layers.0_self_attn_rotary_emb_Constant_attr__value
_layers.0_self_attn_rotary_emb_Constant_5_attr__value
tokenizer.json